
.content {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 10px;
    border: groove;
}



.heading {
    color: steelblue;
    font-family: Arial;
    font-style: normal;
    padding-top: 1%;
    padding-left: 4%;
}

.firstBar {
    background-color: yellowgreen;
    height: 40px;
}

.wholeDocument {
    display: flex;
}

.left {
    float: left;
    width: 30%;
}

.rightPadding {
    float: left;
    width: 70%;
}

.floatimage {
    float: left;
    margin-top: 10%;
}

.h3Class {
    color: steelblue;
    font-size: 150%;
    font-family: Arial;
    font-style: normal;
}

.lblSelectClass {
    font-style: initial;
    font-family: Arial;
    color: black;
    font-size: 88%;
}

.myList {
    width: 40%;
    height: 22px;
}

.lblPaymentMethod {
    font-family: Arial;
    font-size: 14px;
}

.lblpay {
    padding-left: 4%;
    color: black;
}

.visa {
    float:right;
    margin-right:8%;
    margin-top:0%;
    width: 80px;
    height: 64px;
    border:1px solid grey;
}

.lblDescription {
    font-family: Arial;
}

.lblItemOrdered {
    padding-left: 9%;
}

.lblAmount {
    font-family: Arial;
}

.lblEuro {
    padding-left: 14%;
}

.lblCardDetails {
    background-color: yellowgreen;
    width: 100%;
    height: 3%;
    color: white;
    font-size: large;
    font-family: Arial;
}
.QuestionMark
{
    float:right;
    margin-right:-7%;
}

.secondDiv {
    background-color: #fccc9e;
    width: 90%;
    height:69.0%;
}

.mandatory {
    font-family: Arial;
    font-size: 90%;
}

.lblAddress {
    font-family: Arial;
    font-size: 90%;
}

.numCardNumber {
    width: 62%;
    margin-left: 7%;
}
.valCardNumber
{
    font-family:Arial;
    margin-left: 25%;
    font-size: large;
}


.lblSecurityCode {
    font-family: Arial;
    font-size: 90%;
}

.numSecurityCode {
    width: 13%;
    margin-left: 6.3%;
    margin-top: 5%;
}
.valSecurityCode
{
    font-family:Arial;
    margin-left: 25%;
    font-style: large;
}

.lblExpiryDate {
    font-family: Arial;
    font-size: 90%;
}

.ExpireyDateList {
    margin-left: 10%;
    margin-top: 5%;
    width: 12%;
}

.myYearList {
    margin-left: 1%;
    width: 18%;
}

.lblCardHolderName {
    margin-top: 10%;
    font-family: Arial;
    font-size: 90%;
}
.valName
{
    font-family:Arial;
    margin-left: 27%;
    font-style: large;
}

.txtCarHolderName {
    width: 62%;
    margin-left:;
    margin-top: 5%;
}

.pCarHolderDetails {
    background-color: yellowgreen;

    width: 100%;
    height: 3%;
    font-size: large;
    color: white;
    font-family: Arial;
}

.mandatoryCardHolderDetails {
    margin-top: 5%;
    font-size: 90%;
    font-family: Arial;
}

.txtAddress {
    margin-left: 11.7%;
    width: 64.8%;
}

.valAddress
{
    font-family:Arial;
    margin-left: 25%;
    font-size: large;
}
.lblAddress2 {
    margin-top: 10%;
    font-family: Arial;
    font-size: 90%;
}

.txtAddress2 {
    margin-left: 14.3%;
    width: 64.8%;
    margin-top: 5%;
}

.lblAddress3 {
    margin-top: 10%;
    font-family: Arial;
    font-size: 90%;
}

.txtAddress3 {
    margin-top: 5%;
    margin-left: 14.3%;
    width: 64.8%;
}

.lblTown {
    margin-top: 10%;
    font-family: Arial;
    font-size: 90%;
}

.txtTown {
    margin-top: 5%;
    margin-left: 12.3%;
    width: 64.8%;
}
.valTown

{
    font-family:Arial;
    margin-left: 25%;
    font-size: large;
}

.lblRegion {
    margin-top: 10%;
    font-family: Arial;
    font-size: 90%;
}

.region {
    margin-top: 5%;
    margin-left: 16.9%;
    width: 65%;
}
.valRegion
{
    font-family:Arial;
    margin-left: 25%;
    font-size: large;
}

.lblpasscode {
    margin-top: 10%;
    font-family: Arial;
    font-size: 90%;
}

.txtPostCode {
    margin-top: 5%;
    margin-left: 1%;
    width: 40%;
}
.valZipCode
{
    font-family:Arial;
    margin-left: 25%;
    font-size: large;
}

.lblCountry {
    margin-top: 10%;
    font-family: Arial;
    font-size: 90%;
}

.txtCountry {
    margin-top: 5%;
    margin-left: 15.0%;
    width: 50%;
    height: 3.0%;
}

.lblPhone {
    font-size: 90%;
    font-family: Arial;
}

.txtTelephone {
    margin-left: 13.0%;
    width: 40%;
    margin-top: 5%;
}
.valPhoneNumber
{
    font-family: Arial;
    margin-left: 25%;
    font-size: large;
}
.lblFax {
    font-size: 90%;
    font-family: Arial;
}

.txtFaxNumber {
    margin-left: 21.5%;
    width: 40%;
    margin-top: 5%;
}
.valFax
{
    font-family:Arial;
    margin-left: 25%;
    font-size: large;
}

.lblEmail {
    font-size: 90%;
    font-family: Arial;
}

.txtEmail {
    margin-left: 6.9%;
    width: 65.5%;
    margin-top: 5%;
}
.valEmail
{
    font-family:Arial;
    margin-left: 25%;
    font-size: large;
}
.buttons {
    display: flex;
    margin-top: 3%;
}

.right {
    width: 50%;
    float: left;
}

.leftPadding {
    width: 50%;
    float: left;
}


.pStartAgain {
    font-size: medium;
    margin-top: 3%;
    font-family: Arial;
    color: steelblue;
    text-decoration: none;
}

.cancelimage {
    margin-left: 3%;
    margin-top:3%;
}

.cancel {
    margin-top: 5%;
    font-size: medium;
    font-family: Arial;
    color: steelblue;
    text-decoration: none;
}

.payment {
    float:left;
    margin-left: 30%;
    margin-top: 6%;
    color: steelblue;
    font-family: Arial;
    font-size: medium;
    text-decoration: none;
}

.flower {
    
    margin-right:10%;
    float:right;
    margin-top:4%;
}
.moreInformation
{
    color:steelblue;
    margin-left:3%;
    font-family:Arial;
    font-size: x-small;
}
.informationLink
{
    margin-left:2%;
}

.refund {
    color: steelblue;
    font-family: Arial;
    font-size: 90%;
    margin-left: 3%;
}

.information {
    font-family: Arial;
    color: steelblue;
    font-size:x-small;
    margin-left: 3%;
}


.worldpay {
    margin-right: 0%;
    margin-top: 2%;
}


.help {
    font-size: small;
    color: steelblue;
}
.footerDiv{
    margin-top:13%;
    height:10%;
    background-color:yellowgreen;
    text-align:center;
}
.footer {
  
    background-color: yellowgreen;
    margin-top: :2%;
    text-align: center;
    font-family: Arial;
    color: darkblue;
}
